.scr{
    padding-top: 10px;
    background-color: black;
    font-size: 100%;
    border: dashed;
    border-radius: 100px;
    color: aliceblue;
    align-items: center;
    width: 80px;
    height: 40px;
    right: 0px;
    top: 0px;
    margin-left: auto;
    position: fixed;
    border-color: #09ff00;
}

/* .scer{
    margin: auto;
} */
#scor{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}


#goptions{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    width: 60%;
    color: aliceblue;
    border: solid;
    border-radius: 50px;
}

#goptions p{
    padding: 30px;
    color: aliceblue;
    border: solid;
    border-radius: 50px;
}


#Gutf{
    color: aliceblue;
}



::selection{
    background-color: #ffffff;
    color: #000000;
}
#hea{
    color: #09ff00;
    font-family: "ink free","MV boli","sans-serif";
    text-decoration: underline wavy;
    margin: 0px 0px 0px 0%;
    text-shadow:0px 0px 5px red,0px -3px 5px yellow;
    position: sticky;
    top: 0px
}
/* #hea:hover{
    color: #ff0000;
    font-family: "ink free","MV boli","sans-serif";
    text-decoration: underline wavy;
    margin: 0px 0px 0px 0px;
    text-shadow:0px 0px 5px #1eff00,0px -3px 5px yellow;
    position: sticky;
    top: 0px
} */



#count{
    color: bisque;
    border-top: outset;
    border-right: outset;
    border-color: aliceblue;
}
.options{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
body{
    align-items: center;
    background-color: black;
}
#im{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 330px;
    width: 600px;
    border: inset;
    color: aliceblue;
    border-width: 0.5px;
}

#im img{
    font-size: 25px;
    align-items: center;
}
/* #falsc1{
    margin-top : 10px;
    border: outset;
    font-size: 40px;
} */
/* #falsc1::selection{
    background-color: #09ff00;
    margin-top : 10px;
    border: outset;
    font-size: 40px;
} */

.main{
    text-align: center;
}

.main h1{
    color: aliceblue;
}


#sp{
    font-family: "inkfree";
    color: crimson;
}
#sp::selection{
    color: #ff0000;
    background-color: #09ff00;
}

#abz {
    font-size: 20px;
    text-align: center;
    color: #09ff00;
    align-items: center;
    border: solid;
    border-radius: 20px;
    border-color: aliceblue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#subabz {
    text-align: center;
    word-wrap: normal;
    color: #ffffff;
}


.tips {
    text-align: center;
    color: #09ff00;
    align-items: center;
    border: solid;
    border-radius: 20px;
    border-color: aliceblue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#tip1 {
    text-align: center;
    word-wrap: normal;
    color: #09ff00;
}
#tip2 {
    text-align: center;
    word-wrap: normal;
    color: #fff700;
}
#tip3 {
    text-align: center;
    word-wrap: normal;
    color: #ff6200;
}
#reviews{
    text-align: start;
    padding: 5px;
    width: 80%;
}
#reviews p{
    border: solid;
    padding: 10px;
    border-radius: 10px;
}
#revbtn{
    color: #7aee66;
    animation: rev;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
#reply{
    color: #fff700;
    animation: rev;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
#reply p{
    color: #fff700;
    animation: none;
}
#goodrate{
    color: #09ff00;
    background-color: #767676;
}


/* 
#false{
    margin-top: 10px;
    border: outset;
    font-size: 40px;
}
#false:hover{
    border: outset;
    background-color: rgba(120, 238, 179, 0.89);
}
#false:active{
    border: inset;
    background-color: rgb(255, 0, 0);
    color: aliceblue;
}

/* <1> */





button{
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    border: outset;
    font-size: 30px;
    border-radius: 30px;
    animation: banimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}
button:hover{
    border: outset;
    animation: bganimation, banimation ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: aliceblue;
}
button:active{
    border: inset;
}



#overall button{
    width: 600px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    border: outset;
    font-size: 30px;
    border-radius: 30px;
    animation: banimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}
#overall button:hover{
    border: outset;
    animation: bganimation, banimation ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: aliceblue;
}
#overall button:active{
    border: inset;
}

#subscribe{
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    font-style: normal;
    margin-top: 10px;
    border: outset;
    font-size: 40px;
    border-radius: 30px;
    animation: banimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

#agree{
    width: fit-content;
}

#agreebtn{
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color: aliceblue;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
}

#navi{
    font-size: 15px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    text-align: center;
}
#nv{
    width: fit-content;
    font-size: 15px;
    background-color: black;
    color: aliceblue;
    border: outset;
    border-radius: 30px;
    animation: none;
}

#nv:hover{
    color: black;
    background-color: aliceblue;
}
#sidebar{
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    border: solid;
    border-radius: 10px;
    border-color: aliceblue;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 10%;
    height: auto;
    color: aliceblue;
    padding-left: 5px;
    padding-right: 5px;
       
}
#sidebar button{
    color: aliceblue;
    background-color: black;
    font-size: 15px;
    animation: none;
    width: 100%;
}
#sidebar button:hover{
    color: black;
    background-color: aliceblue;
    font-size: 15px;
    animation: none;
    width: 100%;
}
/*#Reset{
    color: aliceblue;
    background-color: black;
    font-size: 15px;
    animation: none;
    width: 100%;
}
#About{
    color: aliceblue;
    background-color: black;
    font-size: 15px;
    animation: none;
    width: 100%;
}
#Discord{
    color: aliceblue;
    background-color: black;
    font-size: 15px;
    animation: none;
    width: 100%;
}
#YT{
    color: aliceblue;
    background-color: black;
    font-size: 15px;
    animation: none;
    width: 100%;
} */
#Gutf button{
    color: aliceblue;
    background-color: black;
    width: 100%;
    animation: none;
}
#Gutf button:hover{
    color: black;
    background-color: aliceblue;
    width: 100%;
    animation: none;
}
#RPSmain{
    border: solid;
    border-color: aliceblue;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    color: aliceblue;
    padding: 20px;
}
#zmwcraft{
    color: aliceblue;
    text-decoration: solid;
}
#zmwcraft:hover{
    color: black;
}

#gameDiv{
    border-color: aliceblue;
    border: solid;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
}
#playerText{
    color: blue;
}
#computerText{
    color: red;
}
#resultText{
    color: aliceblue;
}
#zmwdiscord{
    color: aliceblue;
}
#zmwdiscord:hover{
    color: black;
}



#stmode{
    margin-left: auto;
    margin-right: auto;
    background-image: url("stmde.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 600px;
}
#stbu{
    width: 100%;
    text-align: center;
    float: inline-end;
}

#stbu button{
    width: 40%;
    background: none;
    animation: none;
    border: none;
}
#stbu button:hover{
    
    animation: bandw;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}






@keyframes banimation {
    33%{border-color : red ;}
    66%{border-color : #09ff00 ;}
    100%{border-color : blue ;}
}
@keyframes bganimation {
    33%{background-color : #ff0000 ;}
    66%{background-color : #09ff00 ;}
    100%{background-color : blue ;}
}
@keyframes canimation {
    33%{color : red ;}
    66%{color : #09ff00 ;}
    100%{color : blue ;}
}
@keyframes bandw {
    50%{background-color: #000000;}
}
@keyframes rev {
    50%{color: #0008ff;}
}
